.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/assets/img/
*.docx
*.pdf
*.jpg
*.jpeg
*.png
*.heic
*.mp4
*.mp3
*.zip
*.rar
*.deb
*.odt
*.ods
*.xlsx
*.doc
*.ppt
*.pptx
*.blend
*.blend1
*.story
*~
